<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="AllTests">
        <classes>
            <class name="tests.MTSCommunicationServices"/>
            <class name="tests.HomeInternetTest"/>
            <class name="tests.InstallmentMTS"/>
            <class name="tests.ArrearsMTS"/>
            <class name="tests.PaymentMTS"/>
        </classes>
    </test>
</suite>
